body { font-family: Lucida Sans Unicode, Lucida Grande, sans-serif; }

/*
body { background-color: #220000; }
body, a, a:visited, a:link, a:hover { color: #bb0101; }
*/

table {
   border: none;
   margin: 0pt;
   padding: 0pt;
}

td {
   text-align: left;
   vertical-align: top;
}

th {
   font-weight: normal;
   text-align: left;
   vertical-align: top;
}

ul {
   /* font-size: small; */
}

.whitebox {
   background-color: wheat;
   padding: 1em;
}

dt {
   padding-top: 1em;
}

section {
   border: 1px solid #777;
   border-radius: 1em;
   float: left;
   margin: 0.25em;
   padding: 1em;
}

.left   { text-align: left; }
.right  { text-align: right; }
.center { text-align: center; }

.hidden { display: none; }

.nowrap { white-space: nowrap; }

.float       { float: both; }
.float-left  { float: left; }
.float-right { float: right; }
.clear       { clear: both; }


/* blackboard style */
body {
   background-color: #2b2b2b; /* gray17 */
   background: white url("https://onetribeyoyo.github.io/tibetian-rites/page-background.png") repeat;
   color: #a3a3a3; /* gray64 */
}

a, a:link {
   color: #a3a3a3; /* gray64 */
}
a:visited {
   color: #707070; /* gray44 */
}
a:hover {
   color: #d2b48c; /* tan */
}

td.vbar {
   background-color: #a3a3a3; /* gray64 */
   max-width: 1px;
   min-width: 1px;
   width: 10px;
}
td.vbar2 {
   background-color: #a3a3a3; /* gray64 */
   min-width: 1px;
   width: 1px;
}

section {
   background: #222;
}

.whitebox {
   background-color: #ccc;
}
